.contenedor{
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .seccion-alumnos{
    display: flex;
    background-image: url(../img/fondo.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 400px;
    width: 400px;
}
  .formulario{
    display: flex;
    background-image: url(../img/fondo.jpg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    width: 300px;
} 
.formulario label{
    color: aliceblue;

}